<div class="row">
<div class="col-lg-3" style="background-color: orange;">
    <div class="widget-box clearfix height-auto ">
        <div class="pull text-left clearfix">
            <h4>Total Employees</h4>

            <h2 class="pull-left">
                <i class="fa fa-users fa-2x" style="color:red;"></i></h2>
            <h2 class="pull-right">17,50</h2>
        </div>
        <div class="col-xs-12 text-right">
            60%
        </div><br>
        <div class="progress progress-sm">

            <div class="progress-bar progress-bar-danger" style="width: 60%;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="widget-box clearfix height-auto">
        <div class="pull text-left clearfix">

            <h4>Users online</h4>
            <h2 class="pull-left">
                <i class="fa fa-user c3"></i></h2>
            <h2 class="pull-right">250</h2>
        </div>


        <div class="col-xs-12 text-right">85%</div><br>
        <div class="progress progress-sm ">

            <div class="progress-bar progress-bar-danger p3-bg" style="width: 85%;" role="progressbar"> <span class="sr-only">85% Complete</span> </div>
        </div>


    </div>
</div>
<div class="col-md-3">
    <div class="widget-box clearfix height-auto">
        <div class="pull text-left clearfix">

            <h4>HDD</h4>
            <h2 class="pull-left">
                <i class="fa fa-battery-2 c2"></i></h2>
            <h2 class="pull-right">250</h2>
        </div>



        <div class="col-xs-12 text-right">50%</div><br>
        <div class="progress progress-sm">

            <div class="progress-bar progress-bar-danger p2-bg" style="width: 50%;" role="progressbar"> <span class="sr-only">50% Complete</span> </div>
        </div>


    </div>

</div>
<div class="col-md-3">
    <div class="widget-box clearfix height-auto">
        <div class="pull text-left clearfix">
            <h4>Pending Orders</h4>
            <h2 class="pull-left">
                <i class="fa fa-shopping-cart c1"></i></h2>
            <h2 class="pull-right">256</h2>
        </div>
        <div class="col-xs-12 text-right">50%</div><br>
        <div class="progress progress-sm">

            <div class="progress-bar progress-bar-danger p1-bg" style="width: 50%;" role="progressbar"> <span class="sr-only">50% Complete</span> </div>
        </div>
    </div>
</div>
</div>

                    